.head-all{
    width: 900px;
    height: 60px;
    position: relative;
}
.head-search{
    width: 240px;
    height: 60px;
    float: left;
    line-height: 60px;
    padding: 0px 10px;
    position: relative;
    z-index: 1;
}
.head-drag{
    -webkit-app-region: drag;
    width: 500px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 240px;
    right: 100px;
    z-index: -1;
}
.head-op{
    width: 100px;
    height: 30px;
    float: right;

}
.head-op-info{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
}